body, h1 {
    margin: 0;
    padding: 0;
}

.page-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background: white;
    position: fixed;
    top: 0;
    width: 90%;
    margin-left: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 2px solid #333; 
    z-index: 1;
}

.title {
    margin: 0;
}

.add-button-container {
    padding-right: 50px;
    margin-left: auto; 
}

.add-button {
    text-decoration: none;
    padding: 10px 20px;
    color: #000000; 
    border: 1px solid #000000; 
    border-radius: 5px;
    cursor: pointer;
}

#delete-product-btn {
    background: none;
    cursor: pointer; 
    padding: 10px 20px;
}

.mass-delete-form {
    margin: 0;
}

.scrollable-container {
    padding-top: 100px;
    width: 90%;
    overflow-y: auto;
    margin: 0 auto;
}

.product-item {
    width: 18%;
    display: inline-block;
    padding: 10px;
    border: 1px solid #ccc;
    margin-left: 75px;
    margin-bottom: 75px;
    white-space: normal;
}



.delete-checkbox {
    top: 10px; 
    left: 10px;
}

.text-items {
    text-align: center;
}

.footer {
    width: 90%;
    background: white;
    margin-left: 50px;
    position: fixed;
    bottom: 0;
    left: 0; 
    right: 0; 
    text-align: center;
    padding: 10px;
    border-top: 2px solid #333; 
    z-index: 1;
}

